---
import { ExternalLink } from "@lucide/astro";
import Badge from "./ui/Badge.astro";

interface Props {
    title: string;
    description: string;
    url: string;
    techStack: string[];
}

const { title, description, url, techStack } = Astro.props;
---

<a
    href={url}
    target="_blank"
    rel="noreferrer"
    aria-label={`View project: ${title}`}
    class="block w-full bg-secondary/30 border space-y-4 p-5 hover:bg-muted/70 transition-colors"
>
    <section class="flex justify-between gap-4">
        <div>
            <span class="font-bold">{title}</span>
            <p class="text-muted-foreground">
                {description}
            </p>
        </div>
        <span class="text-muted-foreground" aria-hidden="true">
            <ExternalLink size={20} />
        </span>
    </section>
    <section class="flex flex-wrap gap-2">
        {techStack.map((tech) => <Badge content={tech} />)}
    </section>
</a>
